<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block styles
            link(rel="stylesheet", href="styles/style.css")
        title Visual Novella
    body
        block main
        block scripts
            script(src="scripts/main.js")
            script(src="mvc/model.js")
            script(src="mvc/view.js")
            script(src="mvc/controller.js")