<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/script.js"></script>
</head>

<body>
	<div class="wrapper fon">
		<p id="name">Как жить</p>
		<div id="titul">
			<ul>
				<div class="icon devn"></div>
				<li>Мария Небесная</li>
				<li>Авторка сценария</li>
				<li>Верстка и программирование</li>
				<li>Композиторка</li>
			</ul>
			<ul>
				<div class="icon devhs"></div>
				<li>Диана Мишина (Hoodie Spirit)</li>
				<li>2D художница</li>
				</ul>
			<p id="place">Санкт-Петербург</br>СПБИПт</br>2017</p>
			<a href="titul.html"><p id="button-menu">дальше</p></a>
			<p id="mail">Отзывы и предложения kakzitb@gmail.com</p>
		</div>
	</div>
</body>

</html>
