<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/chapters.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper fon">
	<div class="margin">
	<div class="inline">
		<a href="page1.html"><div class="button-next">Глава 1</div></a>
		<a href="page4.html"><div class="button-next">Глава 2</div></a>
		<a href="page9.html"><div class="button-next">Глава 3</div></a>
		<a href="page24.html"><div class="button-next">Глава 4</div></a>
	</div>
	<div class="inline">
		<a href="page36.html"><div class="button-next">Глава 5</div></a>
		<a href="page49.html"><div class="button-next">Глава 6</div></a>
		<a href="page51.html"><div class="button-next">Глава 7</div></a>
		<a href="page54.html"><div class="button-next">Глава 8</div></a>
	</div>
	</div>
<a href="menu.html"><p id="button-menu">меню</p></a>
	</div>
</body>

</html>
