<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/chapters.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper fon">
	<div class="margin1">
		<p>1</p>
		<audio controls>
    <source src="../music/1.ogg">
    <source src="../music/1.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<p>walk</p>
		<audio controls>
    <source src="../music/walk.ogg">
    <source src="../music/walk.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<p>mind</p>
		<audio controls>
    <source src="../music/pad.ogg">
    <source src="../music/pad.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<p>Аннет дома</p>
		<audio controls>
    <source src="../music/annethome.ogg">
    <source src="../music/annethome.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<p>Аннет и Лизавета</p>
		<audio controls>
    <source src="../music/annlis.ogg">
    <source src="../music/annlis.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<p>Вальс</p>
		<audio controls>
    <source src="../music/fin.ogg">
    <source src="../music/fin.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<p>Закат</p>
		<audio controls>
    <source src="../music/fin2.ogg">
    <source src="../music/fin2.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<audio controls>
    <source src="../music/bloom.ogg">
    <source src="../music/bloom.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<p>В кабинете</p>
		<audio controls>
    <source src="../music/kabinet.ogg">
    <source src="../music/kabinet.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<audio controls>
    <source src="../music/kabinet2.ogg">
    <source src="../music/kabinet2.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
		<audio controls>
    <source src="../music/kabinet3.ogg">
    <source src="../music/kabinet3.mp3">
    Тег audio не поддерживается вашим браузером.
  	</audio>
	</div>
<a href="menu.html"><p id="button-menu">меню</p></a>
	</div>
</body>

</html>
