<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/script53-1.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper future">
		<div class="annsmile"></div>
		<div id="text">
		<p id="backSlide"></p>
		<p id="nextSlide"></p>
		<p id="slide"></p>
		</div>
		<a href="menu.html"><div id="button-menu">меню</div></a>
	</div>
</body>

</html>
