<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/script51.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper passport">
		<div id="chapter">глава 7</div>
		<div class="annback"></div>
		<div class="text">
		<p id="backSlide"></p>
		<p id="nextSlide"></p>
		<p id="slide"></p>
		<div id="choice"><a href="page52.html"><p>нехотя ставлю подпись</p></a><a href="page52-1.html"><p>это не мой паспорт, ухожу</p></a></div>
		</div>
	</div>
</body>

</html>
