<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/script7.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper window2 transparency">
		<div class="chair"></div>
		<div class="chairshadow"></div>
		<div class="table"></div>
		<div class="note"></div>
		<div class="lubov"></div>
		<div class="light"></div>
		<div class="anndoc"></div>
		<div class="text">
		<p id="backSlide"></p>
		<p id="nextSlide"></p>
		<p id="slide"></p>
		<a href="page54.html"><div id="button-next">дальше</div></a>
		</div>
	</div>
</body>

</html>
