<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>***</title>
</head>

<body>
    <div class="wrapper window2">
        <div id="chapter">глава 8</div>
        <div class="chair"></div>
        <div class="chairshadow"></div>
        <div class="table"></div>
        <div class="note"></div>
        <div class="lubov"></div>
        <div class="light"></div>
        <div class="text">
            <p id="backSlide"></p>
            <p id="nextSlide"></p>
            <p id="slide"></p>
            <div id="choice">
                <a href="page55.html">
                    <p>ну уж нет</p>
                </a>
                <a href="page55-1.html">
                    <p>хорошо</p>
                </a>
                <a href="page55-2.html">
                    <p>это все невозможно!</p>
                </a>
            </div>
        </div>
    </div>
    <script src="../scripts/mainn.js"></script>
    <script src="../scripts/script54.js"></script>
</body>

</html>