<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/script56-1.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper room">
		<div class="annathome"></div>
		<div class="text">
		<p id="backSlide"></p>
		<p id="nextSlide"></p>
		<p id="slide"></p>
		<div id="button-next">дальше</div>
		</div>
	</div>
</body>

</html>
