<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <meta charset=utf-8 />
    <title>***</title>
</head>

<body>
    <div class="wrapper wrapper1">
        <div class="text gg">
            <p id="backSlide"></p>
            <p id="nextSlide"></p>
            <p id="slide"></p>
            <a href="page2.html">
                <div id="button-next">дальше</div>
            </a>
        </div>
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/script1.js"></script>
</body>

</html>