extends modules/template.pug
block main
    .wrapper.wrapper2
        .dorigrey
        .annout
        .classmate
        - var nextPage = "page4"
        include modules/textblock.pug
append scripts
    script(src="../scripts/script3.js")