<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/script6-1.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper fridge">
		<div class="text">
		<p id="backSlide"></p>
		<p id="nextSlide"></p>
		<p id="slide"></p>
		<a href="page7-1.html"><div id="button-next">дальше</div></a>
		</div>
	</div>
</body>

</html>
