<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>***</title>
</head>

<body>
    <div class="wrapper fon">
        <div class="annathome"></div>
        <div class="text">
            <p id="backSlide"></p>
            <p id="nextSlide"></p>
            <p id="slide"></p>
            <a href="page13.html">
                <div id="button-next">дальше</div>
            </a>
        </div>
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/script12.js"></script>
</body>

</html>