<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/script32.js"></script>
	<script src="../scripts/jquery.snow.js"></script>
	<script src="../scripts/snow.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper street" id="container">
		<div class="annout"></div>
		<div class="dori1"></div>
		<div class="text">
		<p id="backSlide"></p>
		<p id="nextSlide"></p>
		<p id="slide"></p>
		<a href="page33.html"><div id="button-next">дальше</div></a>
		</div>
	</div>
</body>

</html>
