<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Document</title>
</head>

<body>
    <div class="wrapper wrapper2">
        <div class="dorigrey"></div>
        <div class="classmateleaf"></div>
        <div class="anntakeleaf"></div>
        <div class="text">
            <p id="backSlide"></p>
            <p id="nextSlide"></p>
            <p id="slide"></p>
            <div id="choice">
                <a href="page5-1.html">
                    <p>да, и меня это устраивает
                    </p>
                </a>
                <a href="page5.html">
                    <p>нет, но я не знаю, что мне с этим делать…</p>
                </a>
            </div>
        </div>
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/script4.js"></script>
</body>

</html>