<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<script src="../scripts/jquery-3.1.1.min.js"></script>
	<script src="../scripts/script9.js"></script>
	<title>***</title>
</head>

<body>
	<div class="wrapper window">
		<div id="chapter">глава 3</div>
		<div class="text">
		<p id="backSlide"></p>
		<p id="nextSlide"></p>
		<p id="slide"></p>
		<a href="page10.html"><div id="button-next">дальше</div></a>
		</div>
	</div>
</body>

</html>
