<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>***</title>
</head>

<body>
    <div class="wrapper wrapper2">
        <div id="chapter">глава 2</div>
        <div class="dorigrey"></div>
        <div class="classmateleaf"></div>
        <div class="anntakeleaf"></div>
        <div class="text">
            <p id="backSlide"></p>
            <p id="nextSlide"></p>
            <p id="slide"></p>
            <div id="choice">
                <a href="page5-1.html">
                    <p>да, и меня это</br>устраивает</p>
                </a>
                <a href="page5.html">
                    <p>нет, но я не знаю,</br>что мне с этим делать…</p>
                </a>
            </div>
        </div>
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/jquery-3.1.1.min.js"></script>
    <script src="../scripts/script4.js"></script>
</body>

</html>