<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
    <div class="wrapper fon">
        <div id="titul">
            <p class="system">Минимальные системные требования:</br>
                Mozilla Firefox 5, Google Chrome, Opera, Safari</p>
            </br>
            <p class="system">Рекомендуемые системные требования:</br>
                Mozilla Firefox 23, Google Chrome 10, Google Chrome for Android 28, Opera 15, Safari 6</p>
            <a href="menu.html">
                <p id="button-menu">меню</p>
            </a>
        </div>
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/titul.js"></script>
</body>

</html>